  body {
    background-image: url('https://i.postimg.cc/Lsqw6LPf/dunlaphigh.jpg');
    max-width:20000px;
    width:95%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100px;
    position: relative;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }
  .title{
    color: rgb(94,42,43);
    font-size: 55px;
    font-family: Ubuntu;
    background-color:rgba(255,255,255,0.4);
    text-align: center;

  }

  .banner{
    padding: 20px 30px 0px 30px;
    background-color:rgba(255,255,255,0.9);
    display: flex;
    justify-content: space-between;
  }

 .banner-text{
    vertical-align: middle;
    color:black;
    font-size:20px;
    font-family: Ubuntu;
    padding: 10px 0px 0px 0px;
    transition: color 0.15s, font-size 0.15s, opacity 0.15s;
  }

  .banner-text:hover{
    color: rgb(198,183,132);
    font-size:28px;
  }

  .banner-text:active{
    color: rgb(94,42,43);
    opacity: 0.6;
  }

  .header{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
    background-color:rgba(255,255,255,0.4);
    text-align: center;
  }

  .text{
    font-family: Ubuntu;
    background-color:rgba(255,255,255,0.4);
    font-size: 20px;
    line-height:30px;
    text-align: center;
  }

  .logo{
    max-width: 50px;
    max-height: 50px;
   }

  .footer{
    margin: 100px 0px 0px 0px;
    padding: 20px 30px 0px 30px;
    background-color:rgb(94,42,43);
    display: flex;
    justify-content: space-between;
  }

  .footer-text{
    vertical-align: middle;
    color:white;
    font-size:15px;
    font-family: Ubuntu;
    padding: 10px 0px 0px 0px;
    transition: color 0.15s, font-size 0.15s, opacity 0.15s;
  }

  .footer-text:hover{
    color: rgb(198,183,132);
    font-size:20px;
  }

  .footer-text:active{
    color: rgb(94,42,43);
    opacity: 0.6;
  }

  .footer-header{
    vertical-align: middle;
    color:white;
    font-size:15px;
    font-family: Ubuntu;
    text-align: center;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }

  .dropdown:hover .dropdown-links {
      display: block;
  }

  .dropdown-button{
    background-color:rgba(255,255,255,0.1);
    padding: 0px 0px 6px 0px;
    font-size: 16px;
    border: none;
    transition: background-color 0.15s, padding 0.15s;
  }

  .dropdown-links{ 
    margin-left: -60px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-links a:hover {
      background-color: #ddd;
  }

  .dropdown-links a {
  color: black;
  padding: 12px 16px;
  display: block;
  }

  .dropdown:hover .dropdown-button {
    background-color: rgba(255,255,255,1);
    padding: 10px 10px 10px 10px;
  }

  .table{
    background-color:rgba(198,183,132,0.8);
    font-family: Ubuntu;
    border-radius: 1px;
    border-color: white;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .first-row{
    font-weight: bold;
    background-color: rgb(94,42,43);
    color: rgb(198,183,132);
  }

  .link{
    color: white;
    font-weight: bold;
  }

  .new-row{
    transition: background-color 0.15s, width 0.15s, height 0.15s;
  }

  .new-row:hover{
    background-color:rgba(198,183,132,1);
    width: 120%;
    height:120%;
  }
  .form{
    text-align: center;
    font-family: Ubuntu;
    background-color: rgba(255,255,255,0.8);
    color: rgb(94,42,43);
  }

  .input{
    background-color: rgb(94,42,43);
    color:rgb(198,183,132);
    border-radius:4px;
    font-family: Ubuntu;
    font-weight:bold;
    transition: padding 0.15s, background-color 0.15s, color 0.15s;
  }

  .input:hover{
    padding: 10px 50px 10px 50px;
    background-color: rgb(198,183,132);
    color:rgb(94,42,43);
    cursor:pointer;
  }